/*-----------------------
General styles
-----------------------*/
body {
font: small helvetica, verdana, sans-serif;
background: #fff;
color: #333; 
text-align:center; /* silly IE 5.5 */
}

a:link, a:visited {
color: #44c5f5;
}

.content {
font-size: 1em; /* override tripoli */
}

h2, 
h3,
h4,
h5,
h6 {
font-weight: normal;
color: #5c8699;
}

/*-----------------------
Utility Classes
-----------------------*/
/* self clearing float */
.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /*silly IE 7 */
}

.selfclear {
display: block;
}

* hmtl .selfclear {
height: 1px;
}

.leftwise {
float:left;
}

.leftwise img {
margin: 10px 10px 10px 0;
}


.rightwise {
float:right;
}

.rightwise img {
margin: 10px 0 10px 10px;
}

.nobreak {
white-space: nowrap;
}

.noshow {
display:none !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
outline-width: 0; /* override tripoli */
}

/*-----------------------
Structural Elements
-----------------------*/
.wrap {
width: 940px; 
margin: 0 auto; 
text-align: left; /* silly IE 5.5 */
}

#header {
background: #5c8699;
padding: 0.5em 0;
margin: 0 0 20px;
}

#header .wrap {
text-align: right;
}

#header-nav li,
#footer-nav li {
float: left;
margin: 0 1em 0 -0.5em;
}

* html #header-nav li,
* html #footer-nav li {
margin-left: -0.25em;
}

#header-nav a,
#footer-nav a {
color: #8ce1ff;
text-decoration: none;
padding: 0.2em 0.5em;
}

#header-nav a:hover,
#footer-nav a:hover {
text-decoration: underline;
}

#login a {
color: #99e4ff;
text-transform: uppercase;
text-decoration: none;
}

#login a:hover {
text-decoration: underline;
}

#logo {
width: 380px;
height: 110px;
float: left;
overflow: hidden;
text-indent: -9999em;
background: url(/site_media/img/logo.png) no-repeat;
}

#nav ul {
float: left;
margin: 15px 0 0 70px;
}

* html nav ul {
margin-left: 35px;
}

#nav li {
float: left;
margin: 0 15px 0 0;
}

#nav li:first-child {
margin: 0 25px 0 0;
}

#nav li.first-child {
margin: 0 25px 0 0;
}

#nav li:last-child {
margin: 0;
}

#nav li.last-child {
margin: 0;
}

#nav li a {
display: block;
overflow: hidden;
text-indent: -9999em;
width: 135px;
height: 90px;
}

#nav li a#add-rack {
background: url(/site_media/img/add-rack-bg.png) no-repeat;
}

#nav li a#verify-rack {
background: url(/site_media/img/verify-rack-bg.png) no-repeat;
margin: 0 15px 0 0;
}

#nav li a#verification-kit {
background: url(/site_media/img/verification-kit-bg.png) no-repeat;
}

#lede {
margin: 20px 0 15px;
padding: 0 0 5px;
border-bottom: 1px solid #8fb9cc;
}

#lede h1 {
display: inline;
color: #5c8699;
font-size: 1.75em;
font-weight: normal;
padding: 0 1em 0 0;
margin: 0;
}

/* - */
#home-main {
width: 700px;
float: left;
margin: 0 20px 0 0;
}

#home-promo {
min-height: 190px;
padding: 0 0 0 240px;
background: url(/site_media/img/bike-rack-240x190.png) 0 50% no-repeat;
}

#home-promo a {
text-decoration: none;
}

#home-promo a:hover {
text-decoration: underline;
}

#home-map {
height: 300px;
border: 1px solid #8fb9cc;
}

#home-callouts {
list-style-type: none;
margin: 0;
padding: 0;
}

#home-callouts li {
margin: 0;
padding: 0;
width: 220px;
float: left;
}

#home-callouts li#spot-it,
#home-callouts li#map-it {
margin: 0 20px 0 0;
}

#home-callouts li#spot-it h3 a,
#home-callouts li#map-it h3 a,
#home-callouts li#check-it h3 a  {
display: block;
height: 148px;
overflow: hidden;
text-indent: -9999em;
}

#home-callouts li#spot-it h3 a {
background: url(/site_media/img/spot-it-bg.png) no-repeat;
}

#home-callouts li#map-it h3 a {
background: url(/site_media/img/map-it-bg.png) no-repeat;
}

#home-callouts li#check-it h3 a {
background: url(/site_media/img/check-it-bg.png) no-repeat;
}

#learnmore-foot {
display: block;
height: 50px;
overflow: hidden;
text-indent: -9999em;
background: url(/site_media/img/learnmore-foot-bg.png) no-repeat;
}

#home-sidebar {
float: left;
width: 220px;
}

#home-sidebar h2 {
color: #7997a9;
background: #edf2f6;
font-weight: bold;
font-size: 1.1em;
padding: 8px;
}

#home-sidebar #recent-racks {
list-style-type: none;
margin: 0;
padding: 0;
}

#home-sidebar #recent-racks li {
display: inline;
margin: 0;
padding: 0;
}

#home-sidebar #recent-racks li a {
display: block;
color: #7896a8;
text-decoration: none;
padding: 0.5em 0;
border-bottom: 1px solid #edf2f5;
}

#home-sidebar #recent-racks li a:hover {

}

#home-sidebar #recent-racks li a strong {
color: #57bbf1;
}

#home-sidebar #recent-racks li:last-child a {
text-align: right;
color: #57bbf1;
border-bottom: 0 none transparent;
}

#home-sidebar #recent-racks li:last-child a:hover {
text-decoration: underline;
}

#ss-form input#entry_0 {
background: #fff;
border: 1px solid #5c8699;
padding: 0.5em;
font-family: helvetica,verdana,sans-serif;
}

#ss-form input[type="submit"] {
background: #00b0f1;
border: 0 none transparent;
color: #fff;
padding: 0.5em;
}

#ss-form input.submit {
background: #00b0f1;
border: 0 none transparent;
color: #fff;
padding: 0.5em;
}

#ss-form-confirmation {
background: #00b0f1;
border: 0 none transparent;
color: #fff;
padding: 0.5em;
float: left;
margin: 0 0 1.6em;
display: none;
}

/* - */
#racks {
float: left;
width: 380px;
margin: 0 20px 0 0;
}

#racklist {
margin: 0;
padding: 0;
list-style-type: none;
}

#racklist li {
margin: 0;
padding: 20px 0;
border-bottom: 1px solid #edf2f5;
}

#racklist .rack-thumbnail img {
width: 60px;
float: left;
}

#racklist .rack-info {
margin: 0 0 0 80px;
color: #5f5f5f;
}

#racklist .rack-info h3 {
font-size: 1.1em;
color: #57bbf1;
margin: 0;
}

#racklist .rack-info h4 {
font-size: 1em;
color: #e1ab25;
margin: 0;
}

#racklist .rack-info p {
margin: 0;
font-size: 0.95em;
}

#verify-map-wrap {
float: left;
width: 540px;
}

#verify-map {
height: 420px;
border: 1px solid #8fb9cc;
}

/* - */

#content form {
width: 380px;
overflow: hidden;
float: left;
}

#content form label {
background: #fff;
display: block;
font-size: 1.2em;
font-weight: bold;
margin: 1em 0 0;
}

#content form>label:first-child {
margin: 0;
}

#content form label.first-child {
margin: 0;
}

#content form label img {
vertical-align: middle;
margin: 0 0 0 0.5em;
}

#content form input[type="text"],
#content form input[type="password"],
#content form textarea {
background: #fff;
display: block;
width: 362px;
border: 1px solid #5c8699;
padding: 8px;
font-family: helvetica,verdana,sans-serif;
}

#content form input.text,
#content form input.password {
background: #fff;
display: block;
width: 362px;
border: 1px solid #5c8699;
padding: 8px;
font-family: helvetica,verdana,sans-serif;
}

#content form div.required {
padding: 14px 0 0;
margin: -14px 0 0;
background: url(/site_media/img/required-tab.png) 100% 0 no-repeat;
}

#content form input[type="button"],
#content form input[type="submit"],
.fakebutton {
background: #00b0f1;
border: 0 none transparent;
color: #fff;
padding: 0.5em;
}

#content form input.button,
#content form input.submit {
background: #00b0f1;
border: 0 none transparent;
color: #fff;
padding: 0.5em;
}

#content form input.standalone {
margin: 1em 0;
}

#content form #email {
margin: 0 0 1em;
}

.overlabel {
color: #5c8699;
}

.expandonce {
display: block;
padding: 0 0 0 20px;
margin: 1em 0 0;
background: url(/site_media/img/plus-toggle.png) 0 50% no-repeat;
font-size: 1.2em;
font-weight: bold;
color: #00b0f1;
}

.expandonce:hover {
cursor: pointer;
text-decoration: underline;
}

#photo-wrap,
#statement-wrap {
margin: 1em 0 0;
padding: 0;
}

#browse,
#statement {
opacity: 0.0;
-moz-opacity: 0.0;
filter: alpha(opacity=00);
width: 100%;
display: block;
height: 1.5em;
font-size: 2.5em;
padding: 0;
}

#fakebrowse,
#fakestatement {
margin-top: -3.5em;
}

#fakebrowse #fakebrowseinput,
#fakestatement #fakestatementinput {
width: 290px;
float: left;
margin: 0 5px 0 0;
height: 1.2em;
}

#fakebrowse .fakebutton,
#fakestatement .fakebutton {
float: left;
padding: 0.44em 0.5em;
}

.suggest {
float: left;
width: 540px;
margin: 0 0 0 20px;
}

* html .suggest {
margin-left: 10px;
}

#request-map {
height: 360px;
border: 1px solid #8fb9cc;
}

#quick-check {
background: #edf2f5;
border: 1px solid #8fb9cc;
margin: 20px 0 0;
padding: 20px;
}

#quick-check h4 {
font-size: 1.1em;
margin: 0 0 0.5em;
}

#quick-check ul {
margin-bottom: 1em;
}

#quick-check .note {
font-size: 0.9em;
font-style: italic;
margin: 0;
}

/* - */
#bigmovie {
width: 620px;
height: 345px;
float: left;
margin: 0 23px 0 0;
background: #000;
}

#movietext {
float: left;
width: 297px;
}

#movietext h2 {
margin-top: 0;
color: #333;
}

.threewide .col {
width: 300px;
float: left;
margin: 0 20px 0 0;
}

.threewide>.col:last-child {
margin: 0;
}

.threewide .last-child {
margin: 0;
}

.resource-list a {
font-size: 1.3em;
vertical-align: middle;
}

/* - */

#footer .wrap {
border-top: 1px solid #8fb9cc;
padding: 1em 0;
margin: 1em auto;
text-align: right;

}
