body { background: #eee; font-family:Helvetica,Arial,sans-serif important !; color: #4c4c4c ; } 
#login-con { float: right ;  }
#login-con h4 {margin: 0px; }
.container { min-height: 650px; }
.container h1 {margin-top: 20px; } 
.content {  min-height: 550px;}
h1 { color: #672258 ; }
p { margin: 0px; } 
div#header {  width: 100% ; height: 60px; }
div#page-title { padding: 10px; min-height: 40px; } 
h2.title {float: left ;  }
div#activity-con { width: 510px;padding: 10px;}
div#map-con {float: right ; width: 540px; padding: 10px;}
div#map {background: #A1BDC4; height: 400px; width: 540px; margin: 10px; }
div#location-rack-map { height: 200px; } 
div#built-map { height: 500px; margin: 20px auto ; background: #A1BDC4 ;   }
div#home-map { height: 350px; ; background: #A1BDC4 ;   }
div#index-form { margin: 20px; float: right ;  }
div#index-form button { font-size: 200% ; }
#tip-con {margin-left:540px; width: 250px;background:#ba4747;height: 40px;color: white;text-algin: center; cursor: pointer;}
#tip-control {text-align:center;}
#tip {width: 500px;background:#ba4747 ; display: none; position:absolute;z-index: 30000; padding: 10px }
#tip p {margin: 10px;}
#tip h4 {margin: 10px;}
.help-location { }
.help-location li {margin-left: 20px; }
.help-dot {  } 

#subtitle { float: right ;  margin-right: 300px; margin-top:15px;  }
#cbmenu { display: none ; } 
ul#assess { list-style: none;padding: 0;margin: 0;  }
ul#assess li { margin: 8px; padding: 5px; background: #ffd4c2 ; } 
ul#assess li:hover { background:  #ffffcc }
ul#assess li h4 { margin: 0px;}
ul#assess li h5 { margin: 0px;}
div.mapevent {  float: right ;  }

ol#submit { list-style: none; } 
ol#submit li { margin: 5px; padding: 5px; background: #e8b9ed ; } 
ol#submit li:hover { background:  #ffffcc }

#request-map {height: 300px; width: 100%; background: #A1BDC4 ; }
#rack-status {font-size:150% ;  }

/* styles for metrics */ 
#metric-con {height: 30px; width: 100%; border-top: 1px solid #eee; border-bottom: 1px solid #eee ; background: #e8b9ed ; } 
#metric-con:hover {background: #ffffcc } 
#metric { background: #96d0f6 ; height: 30px;} 
#metric-info { float: right; margin: 2px; color: #808080; font-size: 150%; }

div.metrics-vertical-con {width: 10px; height: 50px; background: #96d0f6 ; border: 1px solid #eee; float: left ; margin: 10px;} 
div.metrics-vertical { background: #fff ; } 

/* overview page for rack request */ 
#overview-assess { margin: 5px;  }
#overview-meta li {  list-style: none ;  margin-top: 5px; margin-bottom: 5px; padding: 5px; min-height: 100px; }
#overview-meta form { margin: 3px;width: 400px; float: right ; padding: 10px; }
div#overview-comment { margin: 10px; padding: 10px; }

#overview-assess { margin: 10px; width: 500px;min-height: 300px; }
#overview-assess input {  }

.overview-title { padding-left: 10px; border-bottom: 2px dashed #eee ;  }
.overview-title span { float: right ; padding: 5px; background: #eee ; height: 20px; width: 200px; }
.overview-title span h3 { margin: 0px; font-weight: bold ; font-size: 150% ;  }
/* top of rack suggestion over view page */
#overview-top { min-height: 330px; }
#overview-map { height: 300px;width: 540px;background: #A1BDC4  }
#overview-photo { width: 510px; margin: 10px;} 
.error-photo { height: 250px; }

/* middle of rack suggestion over view page */

#overview-middle {width: 100%;  margin-top: 5px; } 
.overview-information { width: 500px; background: #ffffcc;  padding: 5px; margin:10px; } 
#overview-meta { width: 500px; margin: 10px; position: absolute; margin-left: 560px; background: #ffffff ; padding: 10px; }

ul.comments { margin: 10px; width: 600px; }

ul#menu {margin-left: -5px; margin-bottom: 0px;padding: 5px;}
#menu li { float: left; list-style: none ; padding-left: 10px; padding-right: 10px; padding-top: 10px; width: 200px;}
#menu li a { font-size: 150% ; color:white; } 
#menu li p { color: #4c4c4c } 

div.suggest { color: white }

.suggest { background: #30c09b; }
.assess { background: #ff9e73 } 
.assess-text { float: right ; margin-right: 80px; width: 300px; }
.assess li.list {  min-height: 80px;  }
div.assess { min-height: 500px; }
.submit { background: #dd7fe6;  } 
div.submit { min-height: 500px; }
.built { background: #d2dce7; } 
div.built { min-height: 500px; } 

.about {background: #c7a7c6 ;  }

div.about {padding: 20px;  } 

#chicken { color: #808080 } 
 ;  }
#chicken { color: #808080 } 

/* styles for the form */
#form-newrack { width: 500px;}
#newrack button { font-size: 200% ;  margin: 10px;}
div.form-input-newrack {background: #29a686 ; margin: 10px; padding: 10px;}
input#id_address {width: 450px; } 
input#cb_show {width: 450px; }
#form-input-date { float: right ; } 
#form-tips { height: 400px; width: 550px;padding: 10px; ; float: right; margin: 10px;} 
.mandatory input { border: 3px solid #cc0033}
.mandatory textarea { border: 3px solid #cc0033} 
.non-mandatory input#id_photo {  border: 3px solid #808080} 


div#search-con {width: 300px;}
div.feeds h3 { background: #eee ; } 
ul.feed { margin: 0px;}
.feed li { list-style: none; margin: 5px;}
div.formwrapper { border-bottom: 2px dashed #808080 ; padding: 10px;}
#location {  display: none ; }
.errorlist { background: red ; color: white ; font-weight: bold ; }
.arrow { height: 50px; width: 50px; background: url(images/arrow-next.png);background-position: center center; background-repeat: no-repeat ;  margin: 0 auto ; float: right ;}
div.form-header {}
#id_status { display: none; } 
a.title { color: #672258; text-decoration:none;}
.request { }
.pendding {  }
#introduction-text {margin: 10px; }
#print { margin-bottom: 30px;padding-bottom: 10px;}
#id_rack { display: none; }
#address {  font-size: 250% ; border: 3px solid #cccccc;}

ul#login { width:500px; margin:150px auto; padding:15px; background: #fff ; }
ul#login li { list-style: none ; font-size: 130%;margin-top: 10px;}
ul#login input {  font-size: 130% ;  }

.overview-tab {  }
#tab-container {  margin-top: 30px;  }
#tab-container ul {  width: 100px;margin:0px;position: absolute ;  }
#tab-container .tab-content { margin-left: 100px; background: #eee ; padding: 20px; min-height: 200px;}

#tab-container .active {  background: #eee ;  }
#tab-container li {  background: #fff ; padding: 10px;list-style: none ;  }

.tab-status li{  float: left ; margin-left: 30px;list-style: none ;  }
.tab-status .active {  
 }

ul#update-rack {  list-style: none ;  }

ul#update-rack input {width: 100% ;   }

ul {list-style: none;}


