<html>
<body>

{% if account %}
  <h1>Your account has been activated.</h1>

  <p>Now you can <a href="/accounts/login/?name={{account}}&next=/">log in</a>.
  </p>

{% else %}

  <p>Cound not activate your account!</p>

  <p>Things to check:

  <ul>
    <li>Make sure you went to exactly the right URL</li>

    <li>Make sure  your account was not registered more than
  {{expiration_days}} days ago. </li>

    <li>Or perhaps you already activated this account?
      <!-- How can we detect that?? -->
    </li>
  </ul>

{% endif %}

</body>
</html>
