{% extends "base.html" %}
{% block title %} fixcity.org :: Log In {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>Please Log In</h1>{% endblock %}

{% block content %}
  <form action="" method="POST" />
    <label for="username">Username</label>
    <div class="required"><input type="text" name="username" id="username" /></div>
    <label for="password">Password</label>
    <div class="required"><input type="password" name="password" id="password" /></div> 
    <input class="standalone" type="submit" value="Log In" />
    <p>Right now membership is limited to Brooklyn TA. Please contact us for more information </p>
    {{ form.errors }}
  </form>

{% endblock %}
