{% extends "base.html" %}
{% block title %} fixcity.org :: Log In {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>Please Log In</h1>{% endblock %}

{% block content %}
  <form action="" method="POST" />
    <label for="username">Username</label>
    <div class="required"><input type="text" name="username" id="username" /></div>
    <label for="password">Password</label>
    <div class="required"><input type="password" name="password" id="password" /></div> 
    <input class="standalone" type="submit" value="Log In" />
    <p>You need an account to view this page. Create one <a href="/accounts/register">here</a> or suggest a rack and you'll receive an email allowing you to register for an account.</p>
    {{ form.errors }}
  </form>

{% endblock %}
