{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>About</h1>{% endblock %}


{% block content %}
<div class="about about-content">
  <h2>What</h2>
  <p><i>fixcity.org</i> is about taking small steps to fix your city. Our first endeavor, FixCity:Bike Racks, is a social mapping application designed to "crowdsource" community and government collaboration in the gathering, planning, and implementing new bike racks.</p>
  <p>This application encourages residents and community organizations to suggest new bike racks, verify suggested locations, gather statements of support from the broader community, and finally submit a "shovel-ready" bulk order to the Department of Transportation. This application is designed to use the best of today's web technology to enable smart ways to meaningfully and efficiently match residents' wants with city services.</p>
  <h2>Why</h2>
  <p>At <a href="http://openplans.org/about/">The Open Planning Project</a>, we strive to promote open government and civic engagement. We believe these goals compliment each other and that making the channels of communication from citizen to citizen, and citizen to government more transparent will allow us to efficiently fix our cities. FixCity encourages communities to give their input intelligently to optimize government workflow, building in the layer of transparency. FixCity is related to a larger <a href="http://open311.org/">Open 311</a> initiative at The Open Planning Project.</p>
  <h2>Why Bike Racks?</h2>
  <p>New York City has seen a dramatic increase in bicycling, but the lack of secure, legal bike parking is still a deterrent to many. NYC DOT’s CityRacks program no longer accepts one-off rack requests from the public, but their process is better served by a "bulk order" that spans adjacent neighborhoods. The bulk order process involves surveying the area, noting locations and gathering support. All this is done with more accuracy and efficiency by harnessing the power of the local residents, community groups and businesses. By providing a social web tool that makes this implementation seamless the NYC DOT can vet requests and install more effectively.</p>
  <h2>Pilot Project</h2>
  <p>Our pilot project is focused on <a href="http://home2.nyc.gov/html/dcp/html/neigh_info/bk01_info.shtml">Brooklyn Community District 1</a> (BKCD1) and only suggestions in this area can be made in this trial period.</p>
  <h2>Who</h2>
  <p>fixcity.org is brought to you by the <a href="http://www.livablestreets.com/">Livable Streets Initiative</a> and <a href="http://openplans.org/work/">The Open Planning Project</a>. Maps are provided by <a href="http://opengeo.org/">Open Geo</a>. The pilot project is a collaboration with Transportation Alternatives’ <a href="http://www.livablestreets.com/projects/transportation-alternatives-brooklyn/blog/">Brooklyn Volunteer Committee</a> and  <a href="http://www.nag-brooklyn.org/">Neighbors Allied for Good Growth</a>. Special thanks to CityRacks Manager Jason Accime for his support and guidance.</p>
</div>
{% endblock %}



