{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>About</h1>{% endblock %}


{% block content %}
<div class="about about-content">
  <h3>What</h3>
  <p>fixcity.org is about taking small steps to fix your city; bike racks are the first issue we're taking on. fixcity.org Bike Racks is a mapping app for public participation in the planning of new bike rack locations.</p>
  <h3> Why </h3>
  <p>New York City has seen a dramatic increase in bicycling lately, but the lack of secure, legal bike parking is still a deterrent to many. NYC DOT's <a href="http://www.nyc.gov/html/dot/html/bicyclists/bikerack.shtml">CityRacks</a> program currently accepts one-off rack location requests from the public, but their process is better served by a <a href="http://www.livablestreets.com/streetswiki/request-bike-racks-for-your-neighborhood">bulk order</a> to install en masse throughout an entire neighborhood. Bulk orders outsource planning work—time-intensive for DOT—to those who know the streets best: local residents, businesses, and community groups. It's a win-win situation and this app makes the process easier and more open.</p>
  <h3> Where</h3>
  <p>Our pilot project is focused on <a href="http://home2.nyc.gov/html/dcp/html/neigh_info/bk01_info.shtml">Brooklyn Community District 1</a> (BKCD1) and only suggestions in this area will be accepted in this trial period. Transportation Alternatives' <a href="http://www.livablestreets.com/projects/transportation-alternatives-brooklyn/blog/">Brooklyn Volunteer Committee</a> and <a href="http://www.nag-brooklyn.org/">Neighbors Allied for Good Growth</a> (NAG) are orchestrating the BKCD1 bulk order. This site will grow along with their process, enabling users to submit a bulk order to the CityRacks? program and keep track of its progress. We plan to scale this site for use throughout the city as soon as possible. Please <a href="/contact">let us know</a> if you're interested in a bulk order of bike racks for your NYC community.</p>
  <h3> Who</h3>
  <p>fixcity.org is brought to you by the <a href="http://www.livablestreets.com/">Livable Streets Initiative</a> and <a href="http://openplans.org/work/">The Open Planning Project</a> in collaboration with Transportation Alternatives' <a href="http://www.livablestreets.com/projects/transportation-alternatives-brooklyn/blog/">Brooklyn Volunteer Committee</a> and <a href="http://www.nag-brooklyn.org/">Neighbors Allied for Good Growth</a>. Our 9.20.09 Bike Rack Hunt launch event is generously hosted by <a href="http://thechangeyouwanttosee.com/">The Change You Want to See</a> as part of <a href="http://confluxfestival.org/">Conflux</a>. Special thanks to <a href="http://www.nyc.gov/html/dot/html/bicyclists/bikerack.shtml">CityRacks</a> Manager Jason Accime for his support and guidance.</p>
  <h3> What can you do?</h3>
  <p>Anyone can suggest new rack locations in the pilot area! To verify your rack and others for installment you’ll need an account. <a href="/contact">Contact us</a> to get more involved!</p>
</div>
{% endblock %}



