{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>Contact</h1>{% endblock %}

{% block content %}
<div class="contact contact-content">
  <p>Contact us at <a href="mailto:info@fixcity.org">info@fixcity.org</a> to get more involved or get more information!</p>
  <p>fixcity Bike Racks is produced by The Open Planning Project and Livable Streets Initiative</p>
  <p>The Open Planning Project 148 Lafayette St New York, NY 10013 USA Work 212.796.4220 Fax 646.390.2624</p>
</div>
{% endblock %}



