{% extends "base.html" %}
{% block title %} fixcity.org :: FAQ {% endblock %}

{% block extra_header %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block lede %}<h1>FAQ</h1>{% endblock %}

{% block content %}
<div class="contact contact-content">
  <h2>How do I suggest a new bike rack?</h2>
  <p>Simply hit Suggest a Rack to start the process of suggesting a new bike rack location. Follow the simple guidelines on our <a href="/verification-kit/">Verification Kit</a>.</p>
  <h2>What does suggesting a rack mean?</h2>
  <p>Suggesting a rack does not mean your request will be immediately received or implemented by the NYC Department of Transportation CityRacks program. It means you have contributed to creating a community sourced "bulk order" of racks for your <a href="http://www.nyc.gov/html/cau/html/cb/directory.shtml">Community District</a>. Bulk orders are delivered to CityRacks when a batch of verified suggestions have been collected for one Community District. You are welcome to suggest a rack location without verifying it, but you can get bike parking faster where you need it if you do!</p>
  <h2>How do I verify racks?</h2>
  <p>To verify your suggestion or others, simply check if the location meets the <a class="location-guidelines" href="#">requirements</a> and has an appropriate <a class="photo-guidelines" href="#">photo</a>. If the sidewalk in front of your destination won't work, try across the street or around the corner--you can update the address accordingly. Photos should also be updated if needed to show exactly where the rack can go.</p>
  <h2>What can I do to get racks on the ground sooner?</h2>
  <p>The best thing you can do to get your suggestions on the ground sooner is to verify racks. You can verify suggestions made by others, or hit commercial streets in search of appropriate spots. Don't be shy about updating others' suggestions--you're doing everyone a favor.</p>
  <p>If you are a community organization and want to lead the process of creating a bulk order please contact us.</p>
  <h2>Why should I register for an account?</h2>
  <p>You must register for an account to verify racks. This is necessary to prevent spammers from compromising our site and undoing your good work. Creating an account also allows you easy access to a list of racks you've edited, and will include other fun and useful features in the future. When you suggest a rack you'll receive an email with instructions on how to start your account. You can also <a href="/accounts/register">register here</a>.</p>
  <h2>What happens once racks are verified?</h2>
  <p>When a Community District has verified the rack suggestions, the bulk order is ready for delivery to CityRacks. Cover letters of support from other community groups or BIDs can also be included. The relevant <a href="http://www.nyc.gov/html/cau/html/cb/directory.shtml">Community Board</a> should be notified at the same time. <a href="/contact">Let us know</a> of any questions to help you manage your bulk order. It may take up to six months for CityRacks to approve and install appropriate racks once received. But by working together we'll hopefully speed that up!</p>
  <h2>Can I suggest a rack in front of my apartment building?</h2>
  <p>CityRacks does not currently site racks in front of residential buildings without the landlord's permission directly in writing, on paper. They are interested in seeing where there is demand for racks, so you may still suggest a residential building rack--but beware that the rack will probably not be installed unless you are a landlord or help obtain a statement of support from your landlord.</p>
  <h2>Where can the DOT place racks?</h2>
  <p>Cityracks can only install racks on public sidewalks areas--not inside park or school grounds or privately owned public plazas. They prioritize requests that serve the greatest number of people. Commercial streets are top priority, though commercial, institutional, and public spaces on otherwise residential blocks are also good. CityRacks will not place racks on the sidewalk in front of Churches or other places of worship and School sidewalks must have a statement of support from the Principal. Make sure that guidelines are on standard, un-cracked concrete and meet other requirements by watching this <a href="http://www.streetfilms.org/archives/how-to-get-your-nyc-bike-racks/">rack placement video</a>!</p>
  <h2>What are statements of support?</h2>
  <p>Statements of support are a simple declaration of endorsement from a property/establishment owner for the placement of bike racks on the adjacent sidewalk. Sidewalks are public city property and statements of support are a courtesy. If you are a business owner, landlord, or Principal, please include a statement of support with your request. You can upload a photograph of the signed statement or a scan.</p>
  <h2>How often can each Community District submit bulk orders?</h2>
  <p>Currently as of September 2009 CityRacks installs bike racks about once every six months in each Community District; once a bulk order is submitted it may be about six months before they process another.</p>
  <h2>How can I start a bulk order for my NYC neighborhood?</h2>
  <p>We plan to expand fixcity Bike Racks for use throughout New York City after the completion of our beta pilot project in Brooklyn Community District 1. <a href="/contact">Contact us</a> for more information.</p>
</div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  jQuery(document).ready(function($) {
    $('.photo-guidelines').click(function() {Boxy.ask("<p class=\"content\">Photographs should show an unobstructed view of the suggested spot, curb, and storefront. Please copy these examples closely in terms of angle, zoom, and detail.</p><div class=\"selfclear\"><div class=\"leftwise\"<h2>Ideal</h2><img src=\"/site_media/img/rackphoto-ideal.jpg\" width=\"300\" height=\"201\" /></div><div class=\"rightwise\"><h2>Good</h2><img src=\"/site_media/img/rackphoto-good.jpg\" width=\"300\" height=\"201\"  /></div></div>", null, null, {title: "Photo Guidelines", closeable: true, contentClass: 'photos'});return false;});;
    $('.location-guidelines').click(function() {Boxy.ask("<div class=\"content selfclear\"><a class=\"rightwise\" href=\"/site_media/resources/PlacementGuide.pdf\"><img src=\"/site_media/img/rack_diagram-thumb.png\" width=\"160\" height=\"200\" /></a><p>Your location suggestion should comply with the requirements shown in this diagram. <a href=\"/site_media/resources/PlacementGuide.pdf\">Print</a> and take out with you to verify this location, or watch the <a href=\"http://www.streetfilms.org/archives/how-to-get-your-nyc-bike-racks/\">Rack Placement Streetfilm</a> to better inform your suggestions.</p></div>", null, null, {title: "Location Guidelines", closeable: true});return false;});
  });
//]]>
</script>
{% endblock %}

