{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}
<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>

<script type="text/javascript">

    var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:19,
            maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

        function loadMap(){
	var map = new OpenLayers.Map('home-map',options);

	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",   
       {
            layers: "openstreetmap", 
            format: "image/png",
            bgcolor: '#A1BDC4'
            }, 
            {wrapDateLine: true} 
        );
    
	var select_style = new OpenLayers.Style({
                    pointRadius: "30",
		    externalGraphic: "/site_media/images/marker.png"		    
	    })
	var select_vector = new OpenLayers.Layer.Vector("Selector Marker"); 
	jQuery('.mapevent').toggle( 
	      function (){
		  var location =  $(this).find("code").html() ; 	       
		  var wkt_f = new OpenLayers.Format.WKT(
			{
			  internalProjection: map.projection,
		       	  externalProjection: map.displayProjection
			}
                       ); 
		  var features = wkt_f.read(location) ;
 		  select_vector.removeFeatures();  
		  select_vector.addFeatures(features); 
		  map.addLayer(select_vector); 
	      }, 
	      function () { 
		  select_vector.removeFeatures();  
		  map.removeLayer(select_vector); 
	      } ); 


	var style = new OpenLayers.Style({
                    pointRadius: "10",
                    externalGraphic: "/site_media/img/rack.png"
                  
                });


	var racks = new OpenLayers.Layer.Vector("Racks", {
		    projection: map.displayProjection,
                    strategies: [
                        new OpenLayers.Strategy.Fixed()
                    ],		  
                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/requested.kml",
                        params: {		     
				
                        },
                        format: new OpenLayers.Format.KML()
                    }),
                    styleMap: new OpenLayers.StyleMap({
                        "default": style,
                        "select": {
                           fillColor: "#ff9e73",
                           strokeColor: "#80503b"
                        }
                    })

                });
    
        map.addLayers([osm,racks]);
        var bounds = new OpenLayers.Bounds(-8234063.45026893,4968638.33081464,-8230209.19302436,4973585.50729644); 
        map.zoomToExtent(bounds); 
        }

  if (jQuery.browser.msie) {
   jQuery(window).load(function() {loadMap();});
  } else {
  jQuery(document).ready(function() {loadMap();});
  }
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block lede %}<h1>Small steps to fix your city. Take action for better bike parking!</h1>{% endblock %}


{% block content %}
<div id="home-main">
  <div id="home-map"><div id="map-legend" class="pngfix"></div></div>
  <ul id="home-callouts" class="selfclear">
    <li id="spot-it"><h3><a href="/rack/new/">Spot It.</a></h3><p>Where do you want more bike racks? Think of the spots you know of, or hit the streets and look for appropriate rack locations.</p></li>
    <li id="map-it"><h3><a href="/rack/new/">Map It.</a></h3><p>Suggest a <a href="/rack/new/">New Rack</a> to put your spot on the map! Upload photos of appropriate locations.</p></li>
    <li id="check-it"><h3><a href="/verify/">Check It.</a></h3><p>Verify suggested rack locations! Check if spots meet <a class="location-guidelines" href="/site_media/resources/PlacementGuide.pdf">Location Guidelines</a> and community needs to help see racks on the ground sooner.</p></li>
  </ul>
  <a id="learnmore-foot" href="/about">Learn more about fixcity.org Bike Racks...</a>
</div><!-- /#home-main -->
<div id="home-sidebar">
  <h2>Recently Added Racks</h2>
  <ul id="recent-racks">
   {% for rack in recent_racks %}
    <li><a href="/rack/{{rack.id}}"><strong>{{rack.title}}</strong>
      {{rack.address}}</a></li>
   {% endfor %}
   <li><a id="more-racks" href="/verify/">See All Suggested Racks</a></li>
  </ul>
</div>


