{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}
{% endblock %}

{% block menu %}
<ul id="menu">
  <li class="active suggest">
    <a href="/">(1) SUGGEST</a>
    <p> Suggest a bike rack location</p>
  </li>
  <li class="verify">
    <a href="/verify/">(2) VERIFY</a>
    <p> Verify current requested locations </p>
  </li>
  <li class="about">
     <a href="/about/">About</a>
     <p> Find out more information</p>
  </li>
</ul>
{% endblock %}


{% block content %}
<div id="home-main">
  <div id="home-map"></div>
  <ul id="home-callouts" class="selfclear">
    <li id="find-it"><h3><a href="#">Find It.</a></h3><p>Hit the streets! Look for acceptable rack locations. Measure sidewalks and assess community needs, meeting the <a href="#">Location Guidelines</a>.</p></li>
    <li id="map-it"><h3><a href="/rack/new/">Map It.</a></h3><p>Add your rack to the map! When you find a suitable location, add a <a href="/rack/new/">New Rack</a> to the map. You can even report a <a href="#">Damaged Rack</a>.</p></li>
    <li id="check-it"><h3><a href="/verify/">Check It.</a></h3><p>Verify suggested rack locations! Take a look at the <a href="/verify/">racks</a> suggested in your community and check them against the <a href="#">Location Guidelines</a>.</p></li>
  </ul>
  <a id="learnmore-foot">Learn more about fixcity.org Bike Racks...</a>
</div><!-- /#home-main -->
<div id="home-sidebar">
  <h2>Recently Added Racks</h2>
  <ul id="recent-racks">
    <li><a href="#"><strong>Barcade</strong> 388 Union Ave, Brooklyn, NY 11211-3429</a></li>
  </ul>
</div>
{% endblock %}

{% block extra_footer %}
{% endblock %}

