{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
    var map, layer, select;
    var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:19,
            maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

        function loadMap(){
	map = new OpenLayers.Map('home-map',options);

	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",
       {
            layers: "openstreetmap",
            format: "image/png",
            bgcolor: '#A1BDC4'
            },
            {wrapDateLine: true}
        );

	var style = new OpenLayers.Style({
      		    label: "${count}",
                    fillColor: "#ff9e73",
                    strokeColor: "#80503b",
                    pointRadius: "10",
                    strokeWidth: 2,
                    strokeOpacity: 0.8

                }, {
                    context: {
                        radius: function(feature) {
                            return Math.min(feature.attributes.count, 10) + 10;
		    },
			count: function(feature) {
			return feature.attributes.id ;
		    }

                    }
                });


	var style_built = new OpenLayers.Style({
                    pointRadius: "${radius}",
                    fillColor: "#ff9e73",
                    strokeColor: "#80503b",
                    strokeWidth: 2,
                    strokeOpacity: 0.8

                }, {
                    context: {
                        radius: function(feature) {
                            return Math.min(feature.attributes.count, 7) + 3;
                        }
                    }
                });


	var racks = new OpenLayers.Layer.Vector("Racks", {
		    projection: map.displayProjection,
		    extractFeatures: true,
                    strategies: [
			new OpenLayers.Strategy.Fixed(),
                    ],
                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/requested.kml",
                        params: {
                        },
                        format: new OpenLayers.Format.KML()
                    }),
                    styleMap: new OpenLayers.StyleMap({
                        "default": style,
                        "select": {
                            fillColor: "#ff9e73",
                            strokeColor: "#925438"
                        }
                    })

                });


	var racks_built = new OpenLayers.Layer.Vector("Racks", {
		    projection: map.displayProjection,
                    strategies: [
                        new OpenLayers.Strategy.Fixed(),
                    ],
                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/built.kml",
                        params: {

                        },
                        format: new OpenLayers.Format.KML()
                    }),
                    styleMap: new OpenLayers.StyleMap({
                        "default": style_built,
                        "select": {
                            fillColor: "#8aeeef",
                            strokeColor: "#32a8a9"
                        }
                    })

                });


        map.addLayers([osm,racks]);

        selectControl = new OpenLayers.Control.SelectFeature(
           [racks],
          {
	      clickout:true, toggle: false,
	      multiple: false, hover: false
          });

	map.addControl(selectControl);
	selectControl.activate();

	racks.events.on({
		"featureselected": function(e) {
                    content = "<div><h3> <a href='/rack/" + e.feature.attributes.id + "'>" + e.feature.attributes.name +"</a> </h3> <p> " +  e.feature.attributes.description  +" </div>",
		    popup = new OpenLayers.Popup.FramedCloud("chicken",
				 e.feature.geometry.getBounds().getCenterLonLat(),
				 null,
				 content,
				 null, true );
		               e.feature.popup = popup;
               		    map.addPopup(popup);
		},
		  "featureunselected": function(e) {
		      map.removePopup(e.feature.popup);
		      e.feature.popup.destroy();
		      e.feature.popup = null;
		 }


	    });


        var bounds = new OpenLayers.Bounds(-73.9703369140625, 40.698036193847699, -73.920738220214801, 40.739128112792997) ;
        bounds.transform(map.displayProjection, map.projection);
        map.zoomToExtent(bounds);
        }


</script>

<script defer="defer" type="text/javascript">
  window.onload = function() {
    loadMap() ;
   }
</script>

{% endblock %}
{% block menu %}
<ul id="menu">
  <li class="active suggest">
    <a href="/">(1) SUGGEST</a>
    <p> Suggest a bike rack location</p>
  </li>
  <li class="assess">
    <a href="/assess/">(2) ASSESS</a>
    <p> Assess current requested locations </p>
  </li>
  <li class="about">
     <a href="/about/">About</a>
     <p> Find out more information</p>
  </li>
</ul>
{% endblock %}


{% block content %}
<div class="suggest">
  <br />
    <div id="home-map">
    <div id="legend">
      <ul style="margin: 0px;">
	<li> Orange dots on the map represent suggestions ready for assessment.</li>
	<li> Purple Dots have been assessed. </li>
      </ul>
    </div>

    </div>
    <div id="introduction-text">
  <div id="index-form">
    <form action="rack/new/" method="GET">
      <button>Suggest a rack location </button>
    </form>
  </div>
    <h4> Want more bike racks in your neighborhood? A bulk order is more effective for your community and the DOT. What is a bulk order? This <a href="http://www.livablestreets.com/streetswiki/request-bike-racks-for-your-neighborhood">success story from the Park Slope Civic Council</a> explains it all. And this tool will make the collaborative process a whole lot easier. Our pilot project is limited to the Brooklyn Community District 1 area, but there is still <a href="/about/">lots you can do</a> !</h4>

  <br />
  </div>
  
</div>
{% endblock %}



