<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title></title>
<link rel="stylesheet" href="/site_media/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/site_media/bmabr.css" type="text/css" media=" screen, projection">
<!--[if IE]><link rel="stylesheet" href="site_media/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
   <ul id="login">
     <form action="" method="POST" />      
       <li> <h1>Please login</h1></li>
       <li> <h3>Username</h3> </li>
       <li> <input type="text" name="username" /></li> 
       <li> <h3>Password</h3></li> 
       <li> <input type="password" name="password" /></li>
       <li> <input type="submit" value="Login" />
       <li> <p> Right now membership is limited to Brooklyn TA. Please contact us for more information </p> </li>
       <li><a href="http://opengeo.org"> OpenGeo </a><a herf="#"> LiveableStreets </a><a href="#"> TOPP Labs </a></li>
       </from>
   </ul>
</body>
</html>
