{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">

	 $(document).ready(function() {
		 loadMap();
	 });

         var map, layer;
         var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:20,
	    maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

	format = "image/png";

        function loadMap(){
	map = new OpenLayers.Map('request-map',options);
	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",
	 {
             layers: "openstreetmap",
             format: "image/png",
             bgcolor: '#A1BDC4'
             },
             {wrapDateLine: true}
          );

	var address_options =   {
	     projection: 'EPSG:4326',
	     styleMap: new OpenLayers.StyleMap({
		     "default": {
                    pointRadius: "15",
                    externalGraphic: "/site_media/img/rack-new.png"
		     }
		 })
	}

	var WKT = '{{request.POST.location|default:"POINT(-73.954344 40.714063)" }}';
	var address_point = new OpenLayers.Layer.Vector("Location Marker",address_options);
	var geometry =  new OpenLayers.Geometry.fromWKT(WKT);
	$("#location").val(WKT); 

	geometry.transform(map.displayProjection, map.projection) ;
	var location = new OpenLayers.Feature.Vector(
		     geometry
	    );
	address_point.addFeatures([location]);
	map.addLayer(address_point);


	var dropHandler = function(address_point,pixel){
	    var xy = address_point.geometry.getBounds().getCenterLonLat();
	    xy.transform(map.projection, map.displayProjection) ;
	    getAddress(xy);
	    getCommunityBoard(xy); 
	    var location_wkt = "POINT("+ xy.lon + " " + xy.lat +")"; 
	    $("#location").val(location_wkt); 
	};
	var point_control =  new OpenLayers.Control.DragFeature(
	    address_point,
	    {
		onComplete: dropHandler
	    });
	    
	map.addControl(point_control);
	point_control.activate();

	function getAddress(lonlat) {
	    var lat = lonlat.lat ;
	    var lon = lonlat.lon ;
	    $.post("/reverse/", {lat:lat, lon:lon},
		function(data){
	            $("#address").val(data) ;

		});
	  }
	function getPointsFromAddress(address) {
	    $.post("/geocode/", {geocode_text:address},
	        function(results){
                       // FIXME: handle multiple results.
                       var lon = results[0][1][1];
                       var lat = results[0][1][0];
 	               var location_wkt = "POINT("+ lon.toString() + " " + lat.toString() +")";
	               $("#location").val(location_wkt);
	               address_point.destroyFeatures();
	               var geometry = new OpenLayers.Geometry.fromWKT(location_wkt);
	               geometry.transform(map.displayProjection, map.projection) ;
	               var location = new OpenLayers.Feature.Vector(geometry);
	               address_point.addFeatures([location]);
	               address_point.refresh();
                       map.zoomToExtent(address_point.getDataExtent());
		}, 'json');
	  }

       function getCommunityBoard(lonlat) {
	   var lat = lonlat.lat ;
	   var lon = lonlat.lon ;
           $.post("/getcommunityboard/",{lat:lat,lon:lon}, 
		  function(data) { 
		      $("#id_communityboard").val(data);
		      // Community board is not part of the v1.0 UI.
		      // var location = "Brooklyn Community Board " + data ;
		      // $("#cb_show").val(location); 
		  }); 
        } 
  
	$("#address").blur(function () {
		var geocode_text = $("#address").val();
		getPointsFromAddress(geocode_text);
	    });


	 var navControl = map.getControlsByClass('OpenLayers.Control.Navigation')[0];
	         if (navControl) {
	       navControl.disableZoomWheel();
 	 }

        map.addLayers([osm]);
	//var center = new OpenLayers.LonLat(-73.954344,40.714063);
        //center.transform(map.displayProjection, map.projection)
        //map.setCenter(center,15)
	var bounds = new OpenLayers.Bounds(-8234063.45026893,4968638.33081464,-8230209.19302436,4973585.50729644); 
        map.zoomToExtent(bounds); 

        }

</script>


{% endblock %}
{% block menu %}
{% endblock %}


{% block content %}
<form id="addrack-form" action="." method="POST" enctype="multipart/form-data">
    <label for="address">Street Address</label>
    <div class="required"><input id="address" name="address" type="text"
                                 title="Enter an address or click a point on the map"
                                 value="{{request.POST.address}}" />
    <input type="hidden" id="location" name="location" value="{{request.POST.location}}" />
        {{ form.address.errors }} {{ form.location.errors }} </div>
    <label for="title">Business, Agency, or Public Space</label>
    <div class="required"><input id="title" name="title" type="text"
                                 title="Business, Agency, or Public Space"
                                 value="{{request.POST.title}}"
                           />{{ form.title.errors }}</div>
    <label for="description">Description</label>
      <textarea id="description" name="description"
                  title="Please include any useful details and available contact information for property/business owner">{{ request.POST.description }}</textarea>

    <div id="photo-wrap">
      <label for="browse">Photo</label>
      <input id="browse" name="photo" type="file" value="{{request.FILES.photo.name}}" size="20" />
      <div id="fakebrowse" class="selfclear"><input name="fakebrowseinput" id="fakebrowseinput" type="text" /><span class="fakebutton">browse</span></div>
    </div><!-- /#photo-wrap -->
     
    <label for="email">Your Email</label>
    <div class="required">
     <input id="email" type="text" name="email"
            value="{{request.POST.email|default:user_email}}" title="This will not be shared, but we may wish to contact you." />
     {{ form.email.errors }}
     <input type="hidden" name="user" value="{{user.username}}" />
     {{ form.user.errors }}
    </div>
    <input type="hidden" name="date" value="{% now "Y-m-d H:i:s" %}"/>

    <!-- Displayed community board name -->
    <!-- <input type="text" id="cb_show" value="1" /> -->
    <input type="hidden" id="id_communityboard" name="communityboard" value="1" />

    <input type="submit" value="Add this rack!" />

<!--  errors for debugging
 {{ form.errors }}
-->
</form>
<div class="suggest">
	<div id="request-map">
	</div>
	<div id="quick-check">
	  <h4>Quick Check: Does the location fit this description?</h4>
	  <ul>
	    <li>City-owned Property</li>
	    <li>Concrete Sidewalk (wider than 11 ft.)</li>
	    <li>Serves Many People</li>
    </ul>
    <p class="note">Note: Commercial streets get priority. There are many exceptions, but your apartment is probably not one of them!</p>
  </div><!-- /#quick-check -->
</div><!-- /#suggest -->
{% endblock %}

{% block lede %}
<h1>Suggest a new Rack</h1>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function() {
    $('input#address, textarea#description, input#email').inlineInfoTextify();
    $('input#browse').change(function( objEvent ){$('#fakebrowseinput').val($(this).val());});
    expandOnce('#photo-wrap', 'Add Photo');
  });
//]]>
</script>
{% endblock %}

