{% extends "base.html" %} 
{% load thumbnail %}

{% block title %} fixcity - overview page  {% endblock %} 

{% block extra_header %} 
<script src="/site_media/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>
<script type="text/javascript">
  // Settings needed by rackmap.js.
  var pointRadius = "10";
  var externalGraphic = "/site_media/img/rack.png";
  var WKT = "{{ rack.location.wkt }}";
  function post_loadmap(map, geom) {
    map.setCenter(geom.getBounds().getCenterLonLat(), 16);
  };
</script>
<script type="text/javascript" src="/site_media/js/rackmap.js"></script>

<script type="text/javascript">
//<![CDATA[
if (jQuery.browser.msie) {
 jQuery(window).load(function() {loadMap(false);});
} else {
jQuery(document).ready(function() {loadMap(false);});
}
//]]>
</script>
{% endblock %}

{% block menu %} 
{% endblock %} 

{% block lede %}
<h1>View Rack</h1> <a href="/rack/new/">Suggest a new Rack</a>
{% endblock %}

{% block content %}
<div id="rackinfo">
  <dl>
    <dt>Street Address</dt>
    <dd>{{rack.address}}</dd>
    <dt>Establishment</dt>
    <dd>{{rack.title}}</dd>
    <dt>Description</dt>
    <dd>{{rack.description}}</dd>
    <dt>Photo</dt>
    <dd>
    {% if rack.photo %}
    <img src="{{rack.photo.extra_thumbnails.large}}" />
    {% else %}
      <div class="error error-photo">
        <h2> No photos about this request </h2>
      </div>
   {% endif %}
    </dd>
  </dl>
  <ul id="support-statements">
  {% for object in statement_query %}
    <li><a href="{{object.file.url}}">Statement of support</a></li>
  {% endfor %}
  </ul>
    
  {% if user.is_authenticated %}
  <a class="fakebigbutton" href="/rack/{{rack.id}}/edit/">Edit this Rack</a>
  {% else %}
  <a class="fakebigbutton" href="/rack/{{rack.id}}/edit/">Log in to Edit</a>
  {% endif %}
  </div><!-- /#rackinfo -->
    
<div class="suggest">
	<div id="request-map">
	  <div id="map-legend" class="pngfix"></div>
	</div>
	<div id="quick-check">
	  <p>Suggestions must have a photo matching the <a class="photo-guidelines" href="#">guidelines</a> and meeting <a class="location-guidelines" href="#">placement requirements</a> to be verified. Support statements are optional for non-residential buildings.</p>
  </div><!-- /#quick-check -->
</div><!-- /#suggest -->

{% endblock %} 

