{% extends "base.html" %}
{% block title %} fixcity.org {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>
<script type="text/javascript">
  // Settings needed by rackmap.js.
  var pointRadius = "10";
  var externalGraphic = "/site_media/img/rack.png";
  var WKT = "{{ request.POST.location|default:rack.location.wkt }}";
  function post_loadmap(map, geom) {
    map.setCenter(geom.getBounds().getCenterLonLat(), 16);
  };
</script>
<script defer="defer" type="text/javascript" src="/site_media/js/rackmap.js"></script>

{% endblock %}
{% block menu %}
{% endblock %}


{% block content %}
<form id="addrack-form" action="." method="POST" enctype="multipart/form-data">
    <label for="address">Street Address</label>
    <div class="required"><input id="address" name="address" type="text"
                                 title="Enter an address or click a point on the map"
                                 value="{{request.POST.address|default:rack.address}}" />
    <input type="hidden" id="location" name="location" value="{{wkt}}" />
        {{ form.address.errors }} {{ form.location.errors }}
    </div>
    <label for="title">Establishment</label>
    <div class="required"><input id="title" name="title" type="text"
                                 title="What are you trying to get to? i.e. Key Foods, PS 121, restaurants"
                                 value="{{request.POST.title|default:rack.title}}"
                           />{{ form.title.errors }}</div>

    <label for="description">Description</label>
      <textarea id="description" name="description"
                  title="Why are bike racks needed here? Other details?">{{ request.POST.description|default:rack.description }}</textarea>
    {{ form.description.errors }}
    <label for="browse">Photo</label>
    {% if rack.photo %}
      <img src="{{rack.photo.extra_thumbnails.large}}" />
      <br />
    {% else %}
      <div>No photo uploaded.</div>
    {% endif %}
    {{ form.photo.errors }}
    
    <div id="photo-wrap">
      <label for="fakebrowseinput">{% if rack.photo %}Replace{% else %}Add{% endif %} Photo</label>
      <input id="browse" name="photo" type="file" value="{{request.FILES.photo.name}}" size="20" />
      <div id="fakebrowse" class="selfclear"><input name="fakebrowseinput" id="fakebrowseinput" type="text" title="JPG, GIF or PNG files - 5MB maximum" /><span class="fakebutton">browse</span></div>
    </div><!-- /#photo-wrap -->
    
    <div id="statement-wrap">
      <label for="statement">Statement of Support</label>
      <input id="statement" name="statement" type="file" value="" size="20" />
      <div id="fakestatement" class="selfclear"><input name="fakestatementinput" id="fakestatementinput" type="text" title="" /><span class="fakebutton">browse</span></div>
    </div><!-- /#statement-wrap -->
     
    {% if user.is_authenticated %}
    <label for="email">Your Email</label>
    <div class="required">
       <input id="email" type="text" name="email"
            value="{{rack.email}}" title="This will not be shared, but we may wish to contact you." />
     {{ form.email.errors }}
     {% else %} 
    <div>
      <input id="email" type="hidden" name="email"
            value="{{rack.email}}" title="This will not be shared, but we may wish to contact you." />
  
     {% endif %}    
     <input type="hidden" name="user" value="{{request.POST.user|default:rack.user}}" />
     {{ form.user.errors }}
    </div>
    <!-- XXX Do we want to update date on edit? -->
    <input type="hidden" name="date" value="{{rack.date}}"/>

    <!-- <input type="text" id="cb_show" value="1" /> -->
    <input type="hidden" id="id_communityboard" name="communityboard" value="" />

    <!-- These flags will trigger server-side processing of location &
    communityboard if they're set to zero. We use this to hack around
    the impossibility of knowing if asynch functions have finished
    when the form submits.  Also provides a bit of graceful
    degrading... not like we have a lot of that in a map-heavy
    site. -->
    <input type="hidden" id="geocoded" name="geocoded" value="0" />
    <input type="hidden" id="got_communityboard" name="got_communityboard" value="0" />

    <input type="submit" value="Save" />

<!--  errors for debugging
 {{ form.errors }}
-->
</form>
<div class="suggest">
	<div id="request-map">
	</div>
	<div id="quick-check">
	  <p>Suggestions must have a photo matching the <a class="photo-guidelines" href="#">guidelines</a> and meeting <a class="location-guidelines" href="#">placement requirements</a> to be verified. Support statements are optional for non-residential buildings.</p>
  </div><!-- /#quick-check -->
</div><!-- /#suggest -->
{% endblock %}

{% block lede %}
<h1>Edit Rack</h1>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function() {
    $('input#address, input#title, textarea#description, input#email, input#fakebrowseinput').inlineInfoTextify();
    $('input#browse').change(function( objEvent ){$('#fakebrowseinput').val($(this).val()).removeClass("overlabel");});
    $('input#statement').change(function( objEvent ){$('#fakestatementinput').val($(this).val()).removeClass("overlabel");});
    expandOnce('#photo-wrap', '{% if rack.photo %}Replace{% else %}Add{% endif %} Photo');
    expandOnce('#statement-wrap', 'Add Statement of Support');
    $('textarea#description').maxLength(300);
    $('input#address, input#title, textarea#description, input#fakebrowseinput').infoSuffixify();
    $('<small> <a href="#">Photo Guidelines</a></small>').appendTo('label[for="fakebrowseinput"]').click(function() {Boxy.ask("<p class=\"content\">Photographs should show an unobstructed view of the suggested spot, curb, and storefront. Please copy these examples closely in terms of angle, zoom, and detail.</p><h2>Ideal</h2><img src=\"/site_media/img/rackphoto-ideal.jpg\" width=\"400\" height=\"300\" /><hr /><h2>Good</h2><img src=\"/site_media/img/rackphoto-good.jpg\" width=\"400\" height=\"268\"  />", null, null, {title: "Photo Guidelines", closeable: true});return false;});
    $('.photo-guidelines').click(function() {Boxy.ask("<p class=\"content\">Photographs should show an unobstructed view of the suggested spot, curb, and storefront. Please copy these examples closely in terms of angle, zoom, and detail.</p><h2>Ideal</h2><img src=\"/site_media/img/rackphoto-ideal.jpg\" width=\"400\" height=\"300\" /><hr /><h2>Good</h2><img src=\"/site_media/img/rackphoto-good.jpg\" width=\"400\" height=\"268\"  />", null, null, {title: "Photo Guidelines", closeable: true});return false;});
    $('<small> <a href="#">Location Guidelines</a></small>').appendTo('label[for="address"]').click(function() {Boxy.ask("<div class=\"content selfclear\"><a class=\"rightwise\" href=\"/site_media/resources/PlacementGuide.pdf\"><img src=\"/site_media/img/rack_diagram-thumb.png\" width=\"160\" height=\"200\" /></a><p>Your location suggestion should comply with the requirements shown in this diagram. <a href=\"/site_media/resources/PlacementGuide.pdf\">Print</a> and take out with you to verify this location, or watch the <a href=\"http://www.streetfilms.org/archives/how-to-get-your-nyc-bike-racks/\">Rack Placement Streetfilm</a> to better inform your suggestions.</p></div>", null, null, {title: "Location Guidelines", closeable: true});return false;});
    $('.location-guidelines').click(function() {Boxy.ask("<div class=\"content selfclear\"><a class=\"rightwise\" href=\"/site_media/resources/PlacementGuide.pdf\"><img src=\"/site_media/img/rack_diagram-thumb.png\" width=\"160\" height=\"200\" /></a><p>Your location suggestion should comply with the requirements shown in this diagram. <a href=\"/site_media/resources/PlacementGuide.pdf\">Print</a> and take out with you to verify this location, or watch the <a href=\"http://www.streetfilms.org/archives/how-to-get-your-nyc-bike-racks/\">Rack Placement Streetfilm</a> to better inform your suggestions.</p></div>", null, null, {title: "Location Guidelines", closeable: true});return false;});
  });
//]]>
</script>
{% endblock %}

