{% extends "base.html" %}
{% block title %} verify {% endblock %}

{% block extra_header %} 
{% endblock %}

{% block lede %}
<h1>Verify a Rack!</h1>
{% endblock %}


{% block menu %} 
{% endblock %}

{% block content %}

<div id="racks">
  
    <ul id="racklist">
        {% for rack in rack_query %}
           <li class="selfclear">
             <a class="rack-thumbnail"
             href="/rack/{{rack.id}}/edit">{% if rack.photo %}<img src="{{rack.photo.thumbnail}}" alt="{{rack.title}} Photo" />{% endif %}</a> 
             <div class="rack-info">
               <h3><a href="/rack/{{rack.id}}/edit">{{rack.title}}</a></h3>
               <h4>{{rack.address}}</h4>
               <p>{{rack.description}}</p>
             </div>
            </li>
        {% endfor %} 

    </ul>
    <p>Pagination placeholder</p>
</div><!-- /#racklist -->
<div id="rackmap-wrap"><div id="rackmap"></div></div>
{% endblock %}
