{% extends "base.html" %}
{% block title %} verify {% endblock %}

{% block extra_header %}

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>

<script type="text/javascript" src="/site_media/js/verify-rackmap.js">
</script>

{% endblock %}

{% block lede %}
<h1>Verify your suggestion and others to see racks on the ground sooner!</h1>
{% endblock %}


{% block menu %}
{% endblock %}

{% block content %}

<div id="racks">

    <ul id="racklist">

           <li class="selfclear" id="" style="display: none;">
             <a class="rack-thumbnail" href="#"><img /></a>
             <div class="rack-info">
               <h3><a href="#"> </a></h3>
	       <span class="rack-verified">verified</span>
               <h4> </h4>
               <p> </p>
             </div>
            </li>

         <noscript>
         <!-- fall back to a static list. what about the pagination though? -->
         {% for rack in racks_page.object_list %}
           <li class="selfclear" id="rack_{{rack.id}}">
             <a class="rack-thumbnail"
             href="/rack/{{rack.id}}">{% if rack.photo %}<img src="{{rack.photo.thumbnail}}" alt="{{rack.title}} Photo" />{% else %}<img src="/site_media/img/default-rack.jpg" alt="No photo for this rack yet" />{% endif %}</a>
             <div class="rack-info">
               <h3><a href="/rack/{{rack.id}}">{{rack.title}}</a></h3>
	       {% if rack.verified %}
	        <span class="rack-verified">verified</span>
	       {% endif %}
               <h4>{{rack.address}}</h4>
               <p>{{rack.description|truncatewords:10}}</p>
             </div>
            </li>
        {% endfor %}
        </noscript>
    </ul><!-- #/racklist -->

    <p id="pagination" style="display: none;">
        <a class="prevlink" rel="prev" href="#">Previous Page</a>

        <span class="sectionlink"><a rel="section" href="#">X</a>&nbsp;</span>

        <a class="nextlink" rel="next" href="#">Next Page</a>

    </p>


<!--
    <p id="pagination">
      {% if racks_page.has_previous %}
        <a href="?page={{ racks_page.previous_page_number }}">Previous Page</a>
      {% endif %}

      {% for page_number in page_numbers %}
        {% ifequal page_number racks_page.number %}
          <span id="current-page">{{ page_number }}</span>
        {% else %}
          {% ifequal page_number "..." %}
            ...
          {% else %}
            <a href="?page={{page_number}}">{{page_number}}</a>
          {% endifequal %}

        {% endifequal %}
      {% endfor %}

      {% if racks_page.has_next %}
        <a href="?page={{ racks_page.next_page_number }}">Next Page</a>
      {% endif %}
    </p>
-->

</div><!-- /#racks -->
<div id="verify-map-wrap">
  <div id="verify-map"><div id="map-legend" class="pngfix"></div></div>
  <div id="quick-sort">
  	<h2>Sort Racks By</h2>
  	<form action="#">
  	  <div class="selfclear"><label for="communityboard">Community Board</label><select id="communityboard" name="communityboard"><option value="cb1">Community Board 1</option></select></div>
  	  <div class="selfclear"><label for="sortorder">Sort by</label><select id="sortorder" name="sortorder"><option value="verified">Verified</option></select></div>
  	  <a id="print-list" class="fakebigbutton" href="#">Print List <img src="/site_media/img/print-list-icon.png" alt="Print List icon" /></a>
    </form>
  </div><!-- /#quick-sort -->
</div>
{% endblock %}
