{% extends "base.html" %}
{% block title %} verify {% endblock %}

{% block extra_header %} 

<script type="text/javascript" src="/site_media/openlayers/OpenLayers.js"></script>



<link type="text/css" href="/site_media/theme/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />  
<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>

<script type="text/javascript" src="/site_media/js/jquery-ui-1.7.1.custom.min.js"></script>



<script defer="defer" type="text/javascript">
    var map, layer, select, select_vector ;

  if (jQuery.browser.msie) {
   jQuery(window).load(function() {loadMap();});
  } else {
  jQuery(document).ready(function() {loadMap();});
  }


    var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:19,
            maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

        function loadMap(){
	map = new OpenLayers.Map('map',options);

	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",   
       {
            layers: "openstreetmap", 
            format: "image/png",
            bgcolor: '#A1BDC4'
            }, 
            {wrapDateLine: true} 
        );
    
	select_style = new OpenLayers.Style({
                    pointRadius: "30",
		    externalGraphic: "/site_media/images/marker.png"		    
	    })
	var select_vector = new OpenLayers.Layer.Vector("Selector Marker"); 
	$('.mapevent').toggle( 
	      function (){
		  var location =  $(this).find("code").html() ; 	       
		  wkt_f = new OpenLayers.Format.WKT(
			{
			  internalProjection: map.projection,
		       	  externalProjection: map.displayProjection
			}
                       ); 
		  features = wkt_f.read(location) ;
 		  select_vector.removeFeatures();  
		  select_vector.addFeatures(features); 
		  map.addLayer(select_vector); 
	      }, 
	      function () { 
		  select_vector.removeFeatures();  
		  map.removeLayer(select_vector); 
	      } ); 


	var style = new OpenLayers.Style({
                    pointRadius: "10",
		    label: "${id}",
                    fontColor: "#eee",
                    fillColor: "#ff9e73",
                    strokeColor: "#80503b",
                    strokeWidth: 2
		    
                }, {
                    context: {
                        radius: function(feature) {
                            return Math.min(feature.attributes.count, 7) + 5;
		    }, 
			id: function(feature) { 
			return feature.attributes.id ; 
		    } 
                    }
                });


	var racks = new OpenLayers.Layer.Vector("Racks", {
		    projection: map.displayProjection,
                    strategies: [
                        new OpenLayers.Strategy.Fixed()
                    ],		  
                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/requested.kml",
                        params: {		     
				
                        },
                        format: new OpenLayers.Format.KML()
                    }),
                    styleMap: new OpenLayers.StyleMap({
                        "default": style,
                        "select": {
                           fillColor: "#ff9e73",
                           strokeColor: "#80503b",
                        }
                    })

                });
    
        map.addLayers([osm,racks]);


    
        var bounds = new OpenLayers.Bounds(-73.978431701660199, 40.6752319335938, -73.946891784667997, 40.723712921142599) ; 
	bounds.transform(map.displayProjection, map.projection); 
        map.zoomToExtent(bounds); 
        }


</script>
{% endblock %}



{% block menu %} 
{% endblock %}

{% block content %}
<div class="verify">
  <div id="map-con">
    <div> 
    </div>
    <p> Verification is the second step in preparing a bulk order. The Transportation Alternatives Brooklyn Committee is orchestrating a bulk order for this area--see the About page for more information about getting involved. Take a look at these suggestions to find out what they need to be verified.  </p>
    <div id="map" style="width: 500px; height: 500px;"> 
    </div>
  </div>


<div id="activity-con">

   
{% regroup rack_query by communityboard as rack_list %} 

   {% for rack_query in rack_list %} 
      <h3>{{rack_query.grouper}}</h3>
      <ul id="verify">
      {% for rack in rack_query.list %}
	<li class="list">
	<div class="verify-text">
	  
	  <h4 class="id">{{rack.id}}</h4>
	<h4><a href="/rack/{{rack.id}}">{{rack.title}} </a></h4>
	<h5>{{rack.address}}</h5>
	<p>{{rack.description|truncatewords:15 }}</p>
	</div>
	{% if rack.photo %}
	<a href="/rack/{{rack.id}}">
	  <img src="{{rack.photo.thumbnail}}" /> 
	</a>
	{% else %}
	{% endif %}
	</li>
      {% endfor %}
      </ul>
    {% endfor %} 
</div>
</div>
{% endblock %}
