{% extends "base.html" %}
{% block title %} verify {% endblock %}

{% block extra_header %} 

<script type="text/javascript" src="/site_media/openlayers/lib/OpenLayers.js"></script>

<script type="text/javascript">
    var map, layer, select, select_vector, racks, bounds; 

  if (jQuery.browser.msie) {
   jQuery(window).load(function() {loadMap();});
  } else {
  jQuery(document).ready(function() {loadMap();});
  }


    var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:19,
            maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

    function loadMap(){
	map = new OpenLayers.Map('verify-map',options);

	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",   
       {
            layers: "openstreetmap", 
            format: "image/png",
            bgcolor: '#A1BDC4'
            }, 
            {wrapDateLine: true} 
        );
    
	var style = new OpenLayers.Style({
                    pointRadius: "12",
                    externalGraphic: "/site_media/img/rack.png"
                  
                });

        function replaceRacksList (response) {
	    // this is apparently not called?
	    // once we're sure this gets called,
	    // this should replace the racklist ul.
            x = response; 
        };

	function loadRacks () {
	  extent = map.getExtent().transform(map.projection, map.displayProjection);
	  racks = new OpenLayers.Layer.Vector("Racks", {
		    projection: map.displayProjection,
                    strategies: [
                        new OpenLayers.Strategy.BBOX()
                    ],		  
                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/requested.kml",
                        params: {
                           // the default bbox param corresponds to
                           // this layer's bbox, which is actually
                           // bigger than the visible map.
                           visible_bbox: extent.toArray().toString(),
                        },
                        format: new OpenLayers.Format.KML()
                    }),
                    styleMap: new OpenLayers.StyleMap({
                        "default": style,
                        "select": {
                           fillColor: "#ff9e73",
                           strokeColor: "#80503b"
                        }
                    }),

                    callback: replaceRacksList

                });
          return racks;
        };

        var bounds = new OpenLayers.Bounds(-8234063.45026893, 4968638.33081464,-8230209.19302436, 4973585.50729644) ; 
        map.addLayers([osm]);
	var findBounds = function(e) {
             extent = racks.getDataExtent(); 
             map.zoomToExtent(extent);   
	 };
        // For now, just zoom to default bounds (brooklyn cb1).
        //racks.events.on({
        //"featuresadded": findBounds
	//});

        function reloadRacks() {
            layers = map.getLayersByName("Racks");
            while ( layers.length ) {
                layers.pop().destroy();
            };
            racks = loadRacks();
            map.addLayer(racks);
            // Apparently when late-adding a layer to a map, we have
            // to call this ...
            racks.redraw();
            // ... and this, to work around a possible openlayers bug
            // with vectors that use a bbox strategy:
            map.setCenter(map.getCenter());
        };

        map.events.on({
           "zoomend": reloadRacks
        });
 
    	map.zoomToExtent(bounds);

        }

</script>

{% endblock %}

{% block lede %}
<h1>Verify your suggestion and others to see racks on the ground sooner!</h1>
{% endblock %}


{% block menu %} 
{% endblock %}

{% block content %}

<div id="racks">
  
    <ul id="racklist">
        {% for rack in racks_page.object_list %}
           <li class="selfclear">
             <a class="rack-thumbnail"
             href="/rack/{{rack.id}}">{% if rack.photo %}<img src="{{rack.photo.thumbnail}}" alt="{{rack.title}} Photo" />{% endif %}</a> 
             <div class="rack-info">
               <h3><a href="/rack/{{rack.id}}">{{rack.title}}</a></h3>
               <h4>{{rack.address}}</h4>
               <p>{{rack.description|truncatewords:10}}</p>
             </div>
            </li>
        {% endfor %} 

    </ul><!-- #/racklist -->

    <p id="pagination">
      {% if racks_page.has_previous %}
        <a href="?page={{ racks_page.previous_page_number }}">Previous Page</a>
      {% endif %}

      {% for page_number in page_numbers %}
        {% ifequal page_number racks_page.number %}
          <span id="current-page">{{ page_number }}</span>
        {% else %}
          {% ifequal page_number "..." %}
            ...
          {% else %}
            <a href="?page={{page_number}}">{{page_number}}</a>
          {% endifequal %}

        {% endifequal %}
      {% endfor %}

      {% if racks_page.has_next %}
        <a href="?page={{ racks_page.next_page_number }}">Next Page</a>
      {% endif %}
    </p>

</div><!-- /#racks -->
<div id="verify-map-wrap">
  <div id="verify-map"></div>
	<div id="quick-check">
	  <p>Browse rack suggestions through the map or list. A batch of spots in one district must be <a href="/verification-kit/">verified</a> before the Department of Transportation can install them--the pilot batch is in Brooklyn Community District 1 (Williamsburg &amp; Greenpoint). You must have an <a href="/accounts/register">account</a> to verify spots.</p>
  </div><!-- /#quick-check -->
</div>
{% endblock %}
