{% extends "base.html" %}
{% block title %} verification kit {% endblock %}

{% block extra_header %} 
{% endblock %}

{% block lede %}
<h1>Download documents to assist in marking locations</h1>
{% endblock %}


{% block menu %} 
{% endblock %}

{% block content %}
<img class="rightwise" src="/site_media/img/rack-measure.jpg" width="400" height="300" alt="Image showing approximate sidewalk widths" />
<h2>Forms</h2>
<ul class="resource-list">
  <li><a href="/site_media/resources/rack_diagram.pdf">Rack Diagram</a></li>
  <li><a href="/site_media/resources/SupportStatement.pdf">Support Statement</a></li>
</ul>
<h2>External Resources</h2>
<ul class="resource-list">
  <li><a href="http://home2.nyc.gov/html/dcp/html/neigh_info/nhmap.shtml">NYC Community Data Portal</a></li>
</ul>
{% endblock %}
