{% extends "base.html" %}
{% block title %} fixcity - add new rack {% endblock %}

{% block header %}

<link type="text/css" href="/site_media/theme/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />  
<script type="text/javascript" src="/site_media/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/site_media/jquery-ui-1.7.1.custom.min.js"></script>
<script type="text/javascript" src="/site_media/corner/jquery.corners.js"></script>



<script src="/site_media/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">

	 $(document).ready(function() {
	         $('.form-input-newrack').corners();
		 $('#id_date').datepicker(); 
		 $('#id_description').keypress(function (e) { 
		      var charLength = $(this).val().length
		      charLeft = 300  - charLength
			  if (charLeft<0) { 
			      $("#description").html("Please shorten your note " + charLeft); 
			      $(this).css("background", "#ff5e5e") ; 
			  }
		          else { 
			  $("#description").html(charLeft); 
			  $(this).css("background", "#fff") ; 
			  }
		     }); 
		 
		 loadMap();
			  });

         var map, layer;
         var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:20,
	    maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

	format = "image/png";

        function loadMap(){
	map = new OpenLayers.Map('request-map',options);
	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",
	 {
             layers: "openstreetmap",
             format: "image/png",
             bgcolor: '#A1BDC4'
             },
             {wrapDateLine: true}
          );

	var address_options =   {
	     projection: 'EPSG:4326',
	     styleMap: new OpenLayers.StyleMap({
		     "default": {
			 pointRadius: "10",
			 fillColor: "#30c09b",
			 strokeColor: "#1e7861",
			 strokeWidth: 2,
			 strokeOpacity: 0.8 
		     }
		 })
	}

	var address_point = new OpenLayers.Layer.Vector("Location Marker",address_options);
	var geometry =  new OpenLayers.Geometry.Point(-73.954344,40.714063);

	var WKT = geometry.toString();	
	$("#location").text(WKT); 
	console.log(WKT); 

	geometry.transform(map.displayProjection, map.projection) ;
	var location = new OpenLayers.Feature.Vector(
		     geometry
	    );
	address_point.addFeatures([location]);
	map.addLayer(address_point);


	var dropHandler = function(address_point,pixel){
	    var xy = address_point.geometry.getBounds().getCenterLonLat();
	    xy.transform(map.projection, map.displayProjection) ;
	    getAddress(xy);
	    getCommunityBoard(xy); 
	    console.log(xy); 
	    var location_wkt = "POINT("+ xy.lon + " " + xy.lat +")"; 
	    $("#location").text(location_wkt); 
	    console.log(location_wkt); 	    
	};
	var point_control =  new OpenLayers.Control.DragFeature(
	    address_point,
	    {
		onComplete: dropHandler
	    });
	    
	map.addControl(point_control);
	point_control.activate();

	function getAddress(lonlat) {
	    var lat = lonlat.lat ;
	    var lon = lonlat.lon ;
	    $.post("/reverse/", {lat:lat, lon:lon},
		function(data){
	            $("#id_address").val(data) ;
                    $("#location_log").text(data) ;
		    $("#id_address").effect("highlight", {}, 3000);

		});
	  }
       function getCommunityBoard(lonlat) {
	   var lat = lonlat.lat ;
	   var lon = lonlat.lon ;
           $.post("/getcommunityboard/",{lat:lat,lon:lon}, 
		  function(data) { 
		      var location = "Brooklyn Community Board " + data ; 
		      $("#id_communityboard").val(data); 		    
		      $("#cb_show").val(location); 
		      $("#cb_show").effect("highlight", {}, 3000);
		  }); 
        } 
  
	$("#geocode_button").click(function () {
		var geocode_text = $('gecode_text').val() ;
		$.post("/geocode/", {geocode_text: geocode_text});
	    });


	 var navControl = map.getControlsByClass('OpenLayers.Control.Navigation')[0];
	         if (navControl) {
	       navControl.disableZoomWheel();
 	 }

        map.addLayers([osm]);
	var center = new OpenLayers.LonLat(-73.954344,40.714063);
        center.transform(map.displayProjection, map.projection)
        map.setCenter(center,15)

        }
</script>

{% endblock %}
{% block menu %}
       <ul id="menu">
	 <li class="active suggest">
	   <a href="/">(1) SUGGEST</a>
	   <p> Suggest a bike rack location</p>
	 </li>
	 <li class="assess">
	   <a href="/assess/">(2) ASSESS</a>
	   <p> Assess current requested locations </p>
	 </li>
	 <li class="about">
	 <a href="/about/">About</a>    
	 <p> Find out more information</p>
	 </li>
       </ul>
{% endblock %}
{% block content %}
      <div class="suggest">
       <br />
    <div class="form-header">
  <form id="newrack" enctype="multipart/form-data" action="." method="post">
      <div class="form-input-newrack mandatory">
    <div id="request-map">
	  </div>
	  {{form.location.errors}}
	  <textarea id="location" name="location"></textarea>
    </div>
    
    <div id="form-tips">
      <h2> Suggest a location </h2>
      <h3> Bike racks must be located on:</h3>
      <ul>
	<li> City-owned property</li>
	<li>Wide concrete sidewalks (at least 12 feet)</li>
	<li> Removed from the natural flow of pedestrians, usually at the curb and always away from crosswalks</li>
	<li> NOT on pavers, cobblestone, brick, stone/slate slabs, custom/patterned concrete, or metal grating</li>
	<li> Usually on commercial streets, though there are exceptions--particularly in dense areas </li>
	<li> Institutions such as Synagogues and Medical Centers may also be exceptions on otherwise residential blocks</li>
      </ol>
    </div>

  <div id="form-newrack">
    <div class="form-header">
      <h2 class="required"> All fields in red required </h2>    
    <div class="form-input-newrack mandatory">
	<h3> Address </h3>
        <p> Zoom and drag the marker on the map--the address of your location will appear here.</p>
	{{ form.address.errors }}
	<input id="id_address" type="text" name="address" value="Brooklyn, New York" maxlength="200" />
      </div>
    
      <div class="form-input-newrack mandatory"> 
         <h3> Community Board</h3>
         <input type="text" id="cb_show" />
	{{form.communityboard.errors}}
         <input style="display:none" type="text" id="id_communityboard" name="communityboard" />
      </div>

      <div class="form-input-newrack mandatory">
	<h4>  Name of a business, institution, or public space?</h4>
	{{form.title.errors}}
	{{form.title}}
      </div>

      <div class="form-input-newrack mandatory">
	<h3>Notes</h3>
	<p> Why should there be bike parking here? Please include any useful details and available contact information for property or business owners. </p>
	    <h3><strong id="description">300</strong></h3>
	{{ form.description.errors }}
	<textarea id="id_description" rows="6" cols="55" name="description"></textarea>
      </div>

      <div class="form-body">
	<div class="form-input-newrack mandatory">
	  <span id="form-input-date">
	  <h3> Date </h3>
	  {{ form.date.errors }}
	  <input type="text" name="date" id="id_date" value="{% now "m/d/y" %}"/>
	  </span>
	  <span id="form-input-contact">
	    <h3>Contact email</h3>
	    <p> Your information will be kept strictly private. </p>
            {{ form.email.errors }}
	    {{form.email}}
	  </span>
	</div>

	<div class="form-input-newrack mandatory">
	  <p> Username </p>
	  {{form.user.errors}}
	  {% if user.is_authenticated %}
          	  <input id="id_user" type="text" readonly  name="user" value="{{user.username}}" maxlength="75" />
          {% else %}
        	  <input id="id_user" readonly  type="text" name="user" value="general-user" maxlength="75" />
          {% endif %}        


	</div>

	<div class="form-input-newrack non-mandatory">
	  <h3>Photo</h3>
	  <p> A photo is not necessary at this stage. You can add one if you like, but it may be updated later on if it does not meet DOT requirements. </p>
	  {{form.photo.errors}}
          {{form.photo}}
	  <input type="submit" id="form-submit-newrack" value="Submit suggestion"/>
	</div>
	<select name="status" id="id_status">
	  <option value="suggest"></option>
        </select>
      </div>
      </div>

  </form>
  <br />
  </div>
</div>
</div>
{% endblock %}


