{% extends "base.html" %} 
{% load thumbnail %}

{% block title %} fixcity - overview page  {% endblock %} 

{% block header %} 
<link type="text/css" href="/site_media/theme/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />  
<script type="text/javascript" src="/site_media/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/site_media/jquery-ui-1.7.1.custom.min.js"></script>
<script type="text/javascript" src="/site_media/corner/jquery.corners.js"></script>


<script src="/site_media/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">

	 $(document).ready(function() {
		 loadMap(); 
		 $('#photo-tab').addClass('active') ; 

                $('#photo-tab').click(function () {
			$('#photo-content').show(); 
			$('#photo-tab').addClass('active');
			$('#support-tab').removeClass('active');
			$('#comment-tab').removeClass('active'); 
			$('#support-content').hide(); 
			$('#comments-content').hide(); 
		    }); 
		 $('#support-tab').click(function () { 
			 $('#support-content').show(); 
			 $('#photo-tab').removeClass('active'); 
			 $('#comment-tab').removeClass('active'); 
			 $('#support-tab').addClass('active'); 
			 $('#photo-content').hide(); 
			 $('#comments-content').hide(); 
		     }); 
		 $('#comment-tab').click(function () { 
			 $('#support-content').hide(); 
			 $('#photo-tab').removeClass('active'); 
			 $('#support-tab').removeClass('active'); 
			 $('#comment-tab').addClass('active'); 
			 $('#photo-content').hide(); 
			 $('#comments-content').show(); 			 
		     }); 
		 
		 

	     }); 



    var map, layer, select;
    var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:19,
            maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

        function loadMap(){
	map = new OpenLayers.Map('overview-map',options);

	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",   
       {
            layers: "openstreetmap", 
            format: "image/png",
            bgcolor: '#A1BDC4'
            }, 
            {wrapDateLine: true} 
        );


	var style = new OpenLayers.Style({
      		    label: "",
		    fontColor: "#eee",
                    pointRadius: "10",
		    fillColor: "#30c09b",
                    strokeColor: "#1e7861",
                    strokeWidth: 2,
                    strokeOpacity: 0.8
                });



        var rack = new OpenLayers.Layer.Vector("Racks", {
                    projection: map.displayProjection,
                    strategies: [
                        new OpenLayers.Strategy.Fixed(),
                    ],  

                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/{{rack.id}}.kml",
                    params: {         
                        },
                        format: new OpenLayers.Format.KML()
                    }),
                   styleMap: new OpenLayers.StyleMap({
                       "default": style,
                        "select": {
                            fillColor: "#ff9e73",
                            strokeColor: "#925438"
                        }
                    })

                });

   var bounds = new OpenLayers.Bounds{{rack.location.extent}} ; 
   bounds.transform(map.displayProjection, map.projection); 
    map.addLayers([osm,rack]);
    var center = new OpenLayers.LonLat(-73.94,40.63);  
    center.transform(map.displayProjection, map.projection);
    map.zoomToExtent(bounds);
}

</script>    

{% endblock %}

{% block menu %} 
<ul id="menu">
  <li class="suggest">
    <a href="/">(1) SUGGEST</a>
    <p> Suggest a bike rack location</p>
  </li>
  <li class="assess">
    <a href="/assess/">(2) ASSESS</a>
    <p> Assess current requested locations </p>
  </li>
  <li class="about">
     <a href="/about/">About this projecet</a>    
       <p> Find out more information</p>
  </li>
  
</ul>

{% endblock %} 

{% block content %}
<div class="assess">
<div id="page-title">
  <h2 class="title">{{rack.address}}</h2>
  {% if user.is_authenticated %} 
  <ul class="tab-status">
    <li><h3><a href="#" class="active" >VIEW</a></h3></li>
    <li><h3><a href="/admin/bmabr/rack/{{rack.id}}">EDIT RACK</a></h3></li>
    <li><h3><a href="status/">EDIT STATUS</a></h3></li>
  </ul> 
  {% else %}
  <ul class="tab-status">
    <li><h3><a href="#"> View</a></h3></li> 
  </ul>
 {% endif %}
  <div id="overview-top">
  <div id="map-con"> 
    <div id="overview-map"> </div>
  </div>

<div id="overview-assess" >
  <h4>Started by user: {{rack.user}}</h4>
  <p>{{rack.description}}</p>
  </div>
</div>

<a name="tabs">
<div id="tab-container">
  <ul>
    <li class="" id="photo-tab"><h4><a href="#tabs">Photos</a></h4></h4></li>
    <li class="overview-tab" id="map-tab"><h4><a href="#tabs">Maps</a></li>
    <li class="overview-tab" id="support-tab"><h4><a href="#tabs">Statment of Support</a></h4></li>
    <li class="overview-tab" id="comment-tab"><h4><a href="#tabs">Comments</a></li>
  </ul>
  
  <div id="photo-content" class="tab-content">
    <h3>Photos</h3>
    {% if rack.photo %}
    <img src="{{rack.photo.extra_thumbnails.large}}" />
    {% else %}
      <div class="error error-photo">
        <h2> No photos about this request </h2>
      </div>
   {% endif %}

  </div>
  <div id="support-content" style="display:none" class="tab-content">
    <h3> Statment of support </h3>
    <form enctype="multipart/form-data" method="POST" action="support/">
       <label>Statement of support</label><input type="file" name="file" id="support-doc" /> <br /> 
       <label>Email</label><input type="text" name="email"   id="email-doc" />  <br />
       <input type="hidden" value="{{rack.id}}" name="s_rack" />
       <input type="submit" value="Add a statement of support" />      
    </form>
    {% for object in statement_query %}     
       {{object.id}}
    {% endfor %} 
    
  </div>
  <div id="comments-content" style="display:none" class="tab-content">
    <h3> Please leave your comments here </h3>
    <form method="POST"> 
         <textarea id="id_comment" rows="6" cols="55" name="comment"></textarea> <br />
         <input type="radio" name="supportyes" id="support-yes" /><label> Do you support this rack - yes</label> <br />
         <input type="radio" name="support-no" id="support-no" /><label>Do you support this rack - no </label> <br />
         <input type="submit" vaule="Post your comment" /> 
    </form>
  </div>
</div>
</div>

{% endblock %} 



