{% extends "base.html" %} 
{% load thumbnail %}

{% block title %} fixcity - overview page  {% endblock %} 

{% block header %} 

<script src="/site_media/openlayers/OpenLayers.js"></script>
<script defer="defer" type="text/javascript">
    var map, layer, select;
    var options = {
            projection: new OpenLayers.Projection("EPSG:900913"),
	    displayProjection: new OpenLayers.Projection("EPSG:4326"),
	    units: "m",
	    numZoomLevels:19,
            maxResolution: 156543.03390625,
	    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
					     20037508.34, 20037508.34)
	   };

        function loadMap(){
	map = new OpenLayers.Map('overview-map',options);

	var osm = new OpenLayers.Layer.WMS(
                 "OpenStreetMap",
                 "http://maps.opengeo.org/geowebcache/service/wms",   
       {
            layers: "openstreetmap", 
            format: "image/png",
            bgcolor: '#A1BDC4'
            }, 
            {wrapDateLine: true} 
        );


	var style = new OpenLayers.Style({
      		    label: "",
		    fontColor: "#eee",
                    pointRadius: "10",
		    fillColor: "#30c09b",
                    strokeColor: "#1e7861",
                    strokeWidth: 2,
                    strokeOpacity: 0.8
                });



        var rack = new OpenLayers.Layer.Vector("Racks", {
                    projection: map.displayProjection,
                    strategies: [
                        new OpenLayers.Strategy.Fixed(),
                    ],  

                    protocol: new OpenLayers.Protocol.HTTP({
                        url: "./rack/{{rack.id}}.kml",
                    params: {         
                        },
                        format: new OpenLayers.Format.KML()
                    }),
                   styleMap: new OpenLayers.StyleMap({
                       "default": style,
                        "select": {
                            fillColor: "#ff9e73",
                            strokeColor: "#925438"
                        }
                    })

                });

   var bounds = new OpenLayers.Bounds{{rack.location.extent}} ; 
   bounds.transform(map.displayProjection, map.projection); 
    map.addLayers([osm,rack]);
    var center = new OpenLayers.LonLat(-73.94,40.63);  
    center.transform(map.displayProjection, map.projection);
    map.zoomToExtent(bounds);
}

</script>    

<script defer="defer" type="text/javascript"> 
  window.onload = function() { 
    loadMap() ; 
   }
</script> 


{% endblock %}

{% block menu %} 
<ul id="menu">
  <li class="suggest">
    <a href="/">(1) SUGGEST</a>
    <p> Suggest a bike rack location</p>
  </li>
  <li class="assess">
    <a href="/assess/">(2) ASSESS</a>
    <p> Assess current requested locations </p>
  </li>
  <li class="submit">
    <a href="/submit/">(3) SUBMIT</a>
    <p> Submit your request to the DOT </p>
  </li>
  <li class="built">
    <a href="/built/"> (4) BUILT</a>
    <p> See racks already built </p>
  </li>
</ul>

{% endblock %} 

{% block content %} 

<div class="assess">
  <div id="page-title">
    <h2 class="title">{{rack.address}}</h2>
  </div>
  <div id="overview-top">
  <div id="map-con"> 
    <div id="overview-map"> </div>
  </div>
<div id="overview-assess" >

  {% if user.is_authenticated %} 
  <form method="GET" action="edit/">
     <input type="submit" value="EDIT" />
  </form>
  {% else %}
  {% endif %}

  <p>{{rack.description}}</p>
  </div>
</div>


</div>
{% endblock %} 



